<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbei74oy1w8pwnVEF1SiKy0hGQc4R_Dh0</string>
	<key>GCM_SENDER_ID</key>
	<string>596179616167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elRabiey.medVoy</string>
	<key>PROJECT_ID</key>
	<string>medvoy-16214</string>
	<key>STORAGE_BUCKET</key>
	<string>medvoy-16214.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596179616167:ios:cb306534388e2485bc7682</string>
</dict>
</plist>